/* reset */

* {
	margin: 0;
	padding: 0;
	box-sizing: border-box;
	font-family: 'Tilt Neon', cursive;
}

/* general styles */

.container {
	max-width: 75%;
	margin-inline: auto;
	padding-inline: 1rem;
}
.btn{
	border-radius: 30px;
	padding: 10px 15px;
	border-width: 0px;
}
h1{
	font-size: 4rem;
}
h2{
	font-size: 2.5rem;
}
/* header */

.navbar {
	height: 4rem; /* TODO: check the value */
	background-color: #255EE9;
}
.navbar .container > * {
	display: flex;
	align-items: center;
}
.nav-options{
	display: flex;
	justify-content: space-around;
	align-items: center;
	width: 100%;
	height: 100%;
}
li{
	list-style: none;
}
li a{
	text-decoration: none;
	color: white;
}
.links{
	width: 60%;
}
.login{
	display: flex;
	justify-content: center;
}
.logo{
	justify-content: center;
	color: white;
}
.logo, .login{
	width: 20%;
}
.navbar .container {
	display: flex;
	justify-content: space-between;
	align-items: stretch;
	height: 100%;
}

.jumbo .content {
	max-width: 1000px;
	margin-inline: auto;
	padding-inline: 1rem;
	text-align: center;
}

.jumbo {
	padding-top: 3rem;
	padding-bottom: 4rem;
	background-image: url(img/jumbo.png);
	background-size: cover;
}
.content p{
	margin: 30px 0 50px 0;
	color: white;
	line-height: 1.5rem;
}
.content h1{
	color: white;
}
.open-on-browser{
	background-color: black;
	color: white;
}
.download-for-mac{
	margin-right: 15px;
}
/* main */
.text > p{
	line-height: 1.5rem;
}
.text > h2{
	margin-bottom: 2rem;
}
main section {
	padding-top: 3rem;
	padding-bottom: 3rem;
}

.section-feature .container {
	display: flex;
}

.section-feature.reverse .container {
	flex-direction: row-reverse;
}

.bkg-gray {
	background-color: lightslategrey; /* TODO: check value */
}

.section-feature .image {
	flex: 0 0 60%;
}

.section-feature .text {
	flex: 0 0 40%;
}
.section-full{
	text-align: center;
}
.container > .download-for-mac{
	background-color: dodgerblue;
	color: white;
	margin-top: 15px;
}
.ready{
	background-image: url(img/stars.svg);
	width: 50%;
	height: 3rem;
	margin: auto;
}
/* footer */
.ita{
	height: 1rem;
}
footer {
	padding-top: 4rem;
	padding-bottom: 2rem;
	background-color: black; /* TODO: check value */
	color: white;
}
.footer-column ul:first-child{
	color: dodgerblue;
}

footer .footer-top {
	display: flex;
	margin-bottom: 2rem;
	padding-bottom: 2rem;
	border-bottom: 3px solid white; /* TODO: check value */
}

footer .column-socials {
	flex: 0 0 40%;
}

footer .column-links {
	flex: 0 0 15%;
}

footer .footer-bottom {
	display: flex;
	justify-content: space-between;
}
.social-icons{
	width: 40%;
	display: flex;
	justify-content: space-around;
}